@font-face {
  font-family: Vazir;
  src: url('font/Vazir/Vazir.eot');
  src: url('font/Vazir/Vazir.eot?#iefix') format('embedded-opentype'),
       url('font/Vazir/Vazir.woff2') format('woff2'),
       url('font/Vazir/Vazir.woff') format('woff'),
       url('font/Vazir/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('font/Vazir/Vazir-Bold.eot');
  src: url('font/Vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('font/Vazir/Vazir-Bold.woff2') format('woff2'),
       url('font/Vazir/Vazir-Bold.woff') format('woff'),
       url('font/Vazir/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('font/Vazir/Vazir-Light.eot');
  src: url('font/Vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('font/Vazir/Vazir-Light.woff2') format('woff2'),
       url('font/Vazir/Vazir-Light.woff') format('woff'),
       url('font/Vazir/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Vazir;
  src: url('font/Vazir/Vazir-Medium.eot');
  src: url('font/Vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
       url('font/Vazir/Vazir-Medium.woff2') format('woff2'),
       url('font/Vazir/Vazir-Medium.woff') format('woff'),
       url('font/Vazir/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Vazir;
  src: url('font/Vazir/Vazir-Thin.eot');
  src: url('font/Vazir/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
       url('font/Vazir/Vazir-Thin.woff2') format('woff2'),
       url('font/Vazir/Vazir-Thin.woff') format('woff'),
       url('font/Vazir/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: Vazir;
  src: url('font/Vazir/Vazir-Black.eot');
  src: url('font/Vazir/Vazir-Black.eot?#iefix') format('embedded-opentype'),
       url('font/Vazir/Vazir-Black.woff2') format('woff2'),
       url('font/Vazir/Vazir-Black.woff') format('woff'),
       url('font/Vazir/Vazir-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: Shabnam;
  src: url('font/Shabnam/Shabnam.eot');
  src: url('font/Shabnam/Shabnam.eot?#iefix') format('embedded-opentype'),
       url('font/Shabnam/Shabnam.woff2') format('woff2'),
       url('font/Shabnam/Shabnam.woff') format('woff'),
       url('font/Shabnam/Shabnam.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url('font/Shabnam/Shabnam-Bold.eot');
  src: url('font/Shabnam/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
       url('font/Shabnam/Shabnam-Bold.woff2') format('woff2'),
       url('font/Shabnam/Shabnam-Bold.woff') format('woff'),
       url('font/Shabnam/Shabnam-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url('font/Shabnam/Shabnam-Light.eot');
  src: url('font/Shabnam/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
       url('font/Shabnam/Shabnam-Light.woff2') format('woff2'),
       url('font/Shabnam/Shabnam-Light.woff') format('woff'),
       url('font/Shabnam/Shabnam-Light.ttf') format('truetype');
  font-weight: 300;
}
